.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-top: calc(40px + 60px);
    /* 40px altura navbar + 60px padding desejado */
    min-height: 100vh;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}

li span {
    font-size: 1.5rem;
    color: var(--azul);
    font-size: bold;
}

.about2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    max-width: 1200px;
    margin: 0 auto;
}

.avatar img {
    width: 500px;
    border-bottom: 1px solid var(--azul);
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titleh {
    font-size: 3rem;
    font-weight: bold;
    color: var(--darkblue);
    margin-bottom: 10px;
}

.rounded-border {
    border-radius: 15px;
    padding: 10px 15px;
    background-color: var(--card-background);
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.description-list li strong {
    padding: 0;
    margin: 0;
    color: var(--whitedarktext);
}

p.desc {
    font-size: 1.5rem;
    color: var(--darkblue);
    font-weight: bold;
    margin-bottom: 20px;
}

.description-list li {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.linkedin-icon {
    border: 2px solid var(--darkblue);
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
    color: var(--darkblue);
    font-size: 2rem;
    transition: background-color 0.4s;
}

.linkedin-icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (max-width: 850px) {
    .about {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 110px;
        /* Garante que não suba demais */
    }

    .about2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    .avatar {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .avatar img {
        padding-top: 40px;
        width: 70%;
        max-width: 400px;
        height: auto;
    }

    .about-content {
        align-items: center;
        width: 100%;
    }

    .description-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

        width: fit-content;
        max-width: 90%;
        margin: 0 auto;
        padding-left: 20px;
    }

    .description-list li {
        word-wrap: break-word;
        margin-bottom: 15px;
    }

    .description-list li strong {
        font-size: inherit;
        font-weight: 700;
        color: var(--whitedarktext);
    }

    p.desc {
        font-size: 1.3rem;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .about-content {
        align-items: center;
        width: 100%;
        /* text-align: center; */
    }

    .description-list li {
        font-size: 1rem;
        margin-bottom: 12px;
        line-height: 1.4;
    }

    .description-list li strong {
        font-size: inherit;
        font-weight: 700;
        color: var(--whitedarktext);
        display: inline;
    }

    .description-list li strong {
        font-weight: 700;
        display: inline;
    }

    p.desc {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }
}